@import "tailwindcss";

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("@/resources/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("@/resources/fonts/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IDGrotesk";
  src: url("@/resources/fonts/IDGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DS-DIGI";
  src: url("@/resources/fonts/DS-DIGI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}
