@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("@/resources/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGrotesk";
  src: url("@/resources/fonts/AlteHaasGroteskBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IDGrotesk";
  src: url("@/resources/fonts/IDGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DS-DIGI";
  src: url("@/resources/fonts/DS-DIGI.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}
